<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
</head>
<body>
    <h1>URL Shortener</h1>
    <p>Paste your long url below </p>
    <form method = "POST">
        {% csrf_token %}

        {{form.as_p}}

    <button type = "submit">Shorten URL </button>
        </form>

    {% if short_url %}

    <p>
        Short URL :
    <a href = "/{{ short_url.short_code}}"> {{request.build_absolute_url}} {{short_url.short_code}}

    </a>
    </p>

    <p>
        Original Url:
        <a href = "/{{ short_url.original_url }}" target = "_blank" >
        {{short_url.original_url}} </a>
    </p>
    {% endif %}



</body>
</html>